<!DOCTYPE html>
<html>
<head>
  <title>News Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">News Finder</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            <%unless session[:user_id]%>
              <%= link_to :Signup , :signup, class: "nav_links"%>
             <%end%>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="Main_Header">
		<%unless session[:user_id]%>
			<ul class="nav"> 
				<li><%= link_to :Login , :login, class: "nav_links"%></li>	
			</ul>
		<%else%>
			<ul class="nav">
				<li><%= link_to :Home , :home, class: "nav_links" %> |</li>
				<li><%= link_to :Profile , :profile, class: "nav_links" %> |</li>
				<li><%= link_to :Setting , :setting, class: "nav_links" %> |</li>
				<li><%= link_to :Logout , :logout, class: "nav_links" %></li>	
			</ul>
		<%end%>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>
